---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts//Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=5039463641&To=1111111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Etag:
      - ''
      Last-Modified:
      - ''
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https:\/\/www.twilio.com\/docs\/errors\/20003","status":401}'
  recorded_at: Thu, 02 Apr 2015 22:57:49 GMT
recorded_with: VCR 2.9.3
